body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: -25px;
}
.canvas{
  height: 200px;
  width: 200px;
  border: 3px solid #000;

}
.players {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.active-player{
  background-color: purple;
}
.turn-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 150px;
  height: 125px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}
.tile-title{
  font-size: x-large;
}
.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
  height: 125px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: medium;
  padding: 10px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}

.banner-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 5px;
}

.pigout-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.pigout {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}
.pigout img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
}


/*newgame overlay region*/
.newgame-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newgame {
  width: 300px;
  background-color: rgba(81, 55, 141, 1);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newgame h2 {
  margin-top: 0;
}
.newgame label {
  display: block;
  margin-bottom: 10px;
  color: white;
}
.label-computer-checkbox .checkbox {
  display: none; /* Hide the default checkbox */
}
.label-computer-checkbox .checkbox:checked + span::before {
  content: "\2713"; /* Unicode checkmark symbol */
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  margin-right: 5px;
  line-height: 14px; /* Adjust the line-height to center the checkmark */
  text-align: center; /* Center the checkmark horizontally */
  vertical-align: middle; /* Center the checkmark vertically */}

.label-computer-checkbox .checkbox + span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #f1f1f1;
  margin-right: 5px;
}
.label-computer-checkbox span {
  color: white;
}
#integerInput {
  background-color: #d780e9;
  width: 75px;
  height: 40px;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/*help overlay*/
.help-overlay {
  background-color: #78288b;
  text-align: center;
  padding: 0px;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;  
  width: 600px;
  height: 500px;
  transform: translate(-17%, -15%);
  display: none;
  position: fixed;

}
.help-overlay img {
  display: block;
  width: 100%;
  top: 0px;
  height: 30%;
  padding-bottom: 5px;
}
#gameHelpBtn {
  width: 20%;
  font-size: 12px;
  align-items: center;
  background-color: #8d5199;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: .1px;
  margin-top: -20px;
}
/*winner overlay css*/
.winner-overlay {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;  width: 400px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #78288b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s;
}

.winner-overlay img {
  display: block;
  width: 100%;
  height: auto;
}

.winnerText {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0;
}

#newGameBtn {
  width: 80%;
  padding: .5px;
  font-size: 10px;
  background-color: #8d5199;
  color: #ffffff;
  border: none;
  cursor: pointer;
  
}


/*Logger */
  #logList {
    max-height: 150px;
    height: 100px;
    width: 350px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
    list-style-type: none;
    margin: 8px;
    margin-left: 6%;
  }

  #logList li {
    margin-bottom: 0px;
    font-size: 10px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
